# Banking Finance Project

In [2]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
color = sns.color_palette('pastel')

import warnings 
warnings.filterwarnings('ignore')

In [3]:
# Import and read the data in dataframe
company = pd.read_csv(r"C:\Users\Harshal\OneDrive\Desktop\Datasets\Banking_Finance_data.csv")
company

,Num,Networth Next Year,Total assets,Net worth,Total income,Change in stock,Total expenses,Profit after tax,PBDITA,PBT,...,Debtors turnover,Finished goods turnover,WIP turnover,Raw material turnover,Shares outstanding,Equity face value,EPS,Adjusted EPS,Total liabilities,PE on BSE
0,1,8890.6,17512.3,7093.2,24965.2,235.8,23657.8,1543.2,2860.2,2417.2,...,3.85,200.55,21.78,7.71,42381675.0,10.0,35.52,7.10,17512.3,27.31
1,2,394.3,941.0,351.5,1527.4,42.7,1454.9,115.2,283.0,188.4,...,5.70,14.21,7.49,11.46,11550000.0,10.0,9.97,9.97,941.0,8.17
2,3,92.2,232.8,100.6,477.3,-5.2,478.7,-6.6,5.8,-6.6,...,5.07,9.24,0.23,NaN,8149090.0,10.0,-0.50,-0.50,232.8,-5.76
3,4,2.7,2.7,2.7,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,NaN,NaN,0.00,52404.0,10.0,0.00,0.00,2.7,NaN
4,5,109.0,478.5,107.6,1580.5,-17.0,1558.0,5.5,31.0,6.3,...,9.46,12.68,7.90,17.03,619635.0,10.0,7.91,7.91,478.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3536,3541,226.4,450.5,172.3,565.0,30.5,581.1,14.4,76.7,41.1,...,20.64,8.66,5.14,19.47,14904213.0,10.0,0.97,0.97,450.5,NaN
3537,3542,89.4,97.6,82.0,75.8,-4.0,66.5,5.3,11.1,6.2,...,14.21,5.13,4.17,4.83,3362800.0,10.0,1.61,1.61,97.6,2.49
3538,3543,246.2,902.9,209.1,1005.1,5.6,966.5,44.2,120.3,70.0,...,3.76,33.03,11.68,4.63,3000000.0,10.0,13.10,13.10,902.9,12.62
3539,3544,146.9,177.0,137.2,371.0,3.9,348.9,26.0,50.5,40.8,...,13.75,49.00,47.03,17.42,4422346.0,10.0,6.06,6.06,177.0,4.07
3540,3545,-0.2,0.6,0.3,NaN,NaN,17.4,-17.4,-17.4,-17.4,...,0.00,NaN,NaN,0.00,5220000.0,10.0,-0.02,-0.02,0.6,NaN

In [4]:
# to see all the columns in the data.
pd.set_option("display.max_columns",None) # [NONE] means no limit to the columns. how many they are.

In [5]:
# Read the first 10 columns of the data
company.head(10)

,Num,Networth Next Year,Total assets,Net worth,Total income,Change in stock,Total expenses,Profit after tax,PBDITA,PBT,Cash profit,PBDITA as % of total income,PBT as % of total income,PAT as % of total income,Cash profit as % of total income,PAT as % of net worth,Sales,Income from financial services,Other income,Total capital,Reserves and funds,Deposits (accepted by commercial banks),Borrowings,Current liabilities & provisions,Deferred tax liability,Shareholders funds,Cumulative retained profits,Capital employed,TOL/TNW,Total term liabilities / tangible net worth,Contingent liabilities / Net worth (%),Contingent liabilities,Net fixed assets,Investments,Current assets,Net working capital,Quick ratio (times),Current ratio (times),Debt to equity ratio (times),Cash to current liabilities (times),Cash to average cost of sales per day,Creditors turnover,Debtors turnover,Finished goods turnover,WIP turnover,Raw material turnover,Shares outstanding,Equity face value,EPS,Adjusted EPS,Total liabilities,PE on BSE
0,1,8890.6,17512.3,7093.2,24965.2,235.8,23657.8,1543.2,2860.2,2417.2,1872.8,11.46,9.68,6.18,7.50,23.78,24458.0,158.0,297.2,423.8,6822.8,NaN,14.9,9965.9,284.9,7093.2,6263.3,7108.1,1.33,0.00,14.80,1049.7,1900.2,1069.6,13277.5,3588.5,1.18,1.37,0.00,0.43,68.21,3.62,3.85,200.55,21.78,7.71,42381675.0,10.0,35.52,7.10,17512.3,27.31
1,2,394.3,941.0,351.5,1527.4,42.7,1454.9,115.2,283.0,188.4,158.6,18.53,12.33,7.54,10.38,38.08,1504.3,4.0,15.9,115.5,257.8,NaN,272.5,210.0,85.2,351.5,247.4,624.0,1.23,0.34,19.23,67.6,286.4,2.2,563.9,203.5,0.95,1.56,0.78,0.06,5.96,9.80,5.70,14.21,7.49,11.46,11550000.0,10.0,9.97,9.97,941.0,8.17
2,3,92.2,232.8,100.6,477.3,-5.2,478.7,-6.6,5.8,-6.6,0.3,1.22,-1.38,-1.38,0.06,-6.35,475.6,1.5,0.2,81.4,19.2,NaN,35.4,96.8,NaN,100.6,32.4,136.0,1.44,0.29,45.83,46.1,38.7,4.3,167.5,59.6,1.11,1.55,0.35,0.21,17.07,5.28,5.07,9.24,0.23,NaN,8149090.0,10.0,-0.50,-0.50,232.8,-5.76
3,4,2.7,2.7,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,0.5,2.2,NaN,NaN,NaN,NaN,2.7,2.2,2.7,0.00,0.00,0.00,NaN,2.5,NaN,0.2,0.2,NaN,NaN,0.00,NaN,NaN,0.00,0.00,NaN,NaN,0.00,52404.0,10.0,0.00,0.00,2.7,NaN
4,5,109.0,478.5,107.6,1580.5,-17.0,1558.0,5.5,31.0,6.3,11.9,1.96,0.40,0.35,0.75,5.25,1575.1,3.9,0.9,6.2,161.8,NaN,193.1,112.8,4.6,107.6,82.7,300.7,2.83,1.59,34.94,37.6,94.8,7.4,349.7,215.8,1.41,2.54,1.79,0.00,0.00,13.00,9.46,12.68,7.90,17.03,619635.0,10.0,7.91,7.91,478.5,NaN
5,6,688.6,2434.4,675.8,2648.6,62.3,2636.4,74.5,200.1,74.5,146.9,7.55,2.81,2.81,5.55,21.78,2639.5,6.4,0.2,33.8,972.0,NaN,717.1,555.9,54.4,698.2,317.7,1415.3,1.80,0.37,36.28,245.2,864.9,22.7,1296.2,278.5,0.48,1.27,1.09,0.11,15.78,6.50,21.13,10.14,8.38,4.74,1141718.0,10.0,30.57,15.28,2434.4,NaN
6,7,246.0,327.1,245.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,78.3,241.2,NaN,7.6,NaN,NaN,315.2,-4.3,322.8,0.03,0.03,0.00,NaN,NaN,298.4,20.6,20.6,NaN,NaN,0.32,NaN,NaN,0.00,0.00,NaN,NaN,0.00,50070.0,10.0,0.00,0.00,327.1,NaN
7,8,13.7,80.0,12.7,153.6,-8.5,144.0,1.1,9.7,2.0,4.0,6.32,1.30,0.72,2.60,9.95,153.4,NaN,NaN,10.0,-2.4,NaN,29.3,36.6,1.4,12.7,-2.4,42.0,5.17,0.94,0.00,NaN,10.2,NaN,62.0,8.0,0.54,1.15,2.31,0.04,4.77,3.08,5.53,15.37,11.44,5.92,NaN,NaN,0.00,0.00,80.0,NaN
8,9,291.5,573.8,238.6,582.6,31.0,565.3,48.3,110.1,68.5,82.6,18.90,11.76,8.29,14.18,21.65,573.9,7.3,0.7,58.1,200.5,NaN,204.1,75.1,36.0,258.6,173.8,462.7,1.05,0.30,39.65,94.6,207.4,NaN,328.4,120.4,0.59,1.58,0.94,0.19,28.92,12.52,7.25,5.73,4.62,3.72,3807100.0,10.0,12.69,0.63,573.8,11.67
9,10,-7.3,88.6,19.6,83.4,-6.7,79.1,-2.4,0.3,-14.4,-10.5,0.36,-17.27,-2.88,-12.59,-11.57,83.4,NaN,NaN,50.0,-30.4,NaN,61.4,2.3,5.3,19.6,-30.4,81.0,3.25,0.54,0.00,NaN,24.2,6.8,26.7,-26.4,0.39,0.50,3.13,0.00,0.84,NaN,3.04,42.66,6.36,5.25,5000000.0,10.0,-0.48,-0.48,88.6,-1.88

In [6]:
company

,Num,Networth Next Year,Total assets,Net worth,Total income,Change in stock,Total expenses,Profit after tax,PBDITA,PBT,Cash profit,PBDITA as % of total income,PBT as % of total income,PAT as % of total income,Cash profit as % of total income,PAT as % of net worth,Sales,Income from financial services,Other income,Total capital,Reserves and funds,Deposits (accepted by commercial banks),Borrowings,Current liabilities & provisions,Deferred tax liability,Shareholders funds,Cumulative retained profits,Capital employed,TOL/TNW,Total term liabilities / tangible net worth,Contingent liabilities / Net worth (%),Contingent liabilities,Net fixed assets,Investments,Current assets,Net working capital,Quick ratio (times),Current ratio (times),Debt to equity ratio (times),Cash to current liabilities (times),Cash to average cost of sales per day,Creditors turnover,Debtors turnover,Finished goods turnover,WIP turnover,Raw material turnover,Shares outstanding,Equity face value,EPS,Adjusted EPS,Total liabilities,PE on BSE
0,1,8890.6,17512.3,7093.2,24965.2,235.8,23657.8,1543.2,2860.2,2417.2,1872.8,11.46,9.68,6.18,7.50,23.78,24458.0,158.0,297.2,423.8,6822.8,NaN,14.9,9965.9,284.9,7093.2,6263.3,7108.1,1.33,0.00,14.80,1049.7,1900.2,1069.6,13277.5,3588.5,1.18,1.37,0.00,0.43,68.21,3.62,3.85,200.55,21.78,7.71,42381675.0,10.0,35.52,7.10,17512.3,27.31
1,2,394.3,941.0,351.5,1527.4,42.7,1454.9,115.2,283.0,188.4,158.6,18.53,12.33,7.54,10.38,38.08,1504.3,4.0,15.9,115.5,257.8,NaN,272.5,210.0,85.2,351.5,247.4,624.0,1.23,0.34,19.23,67.6,286.4,2.2,563.9,203.5,0.95,1.56,0.78,0.06,5.96,9.80,5.70,14.21,7.49,11.46,11550000.0,10.0,9.97,9.97,941.0,8.17
2,3,92.2,232.8,100.6,477.3,-5.2,478.7,-6.6,5.8,-6.6,0.3,1.22,-1.38,-1.38,0.06,-6.35,475.6,1.5,0.2,81.4,19.2,NaN,35.4,96.8,NaN,100.6,32.4,136.0,1.44,0.29,45.83,46.1,38.7,4.3,167.5,59.6,1.11,1.55,0.35,0.21,17.07,5.28,5.07,9.24,0.23,NaN,8149090.0,10.0,-0.50,-0.50,232.8,-5.76
3,4,2.7,2.7,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,0.5,2.2,NaN,NaN,NaN,NaN,2.7,2.2,2.7,0.00,0.00,0.00,NaN,2.5,NaN,0.2,0.2,NaN,NaN,0.00,NaN,NaN,0.00,0.00,NaN,NaN,0.00,52404.0,10.0,0.00,0.00,2.7,NaN
4,5,109.0,478.5,107.6,1580.5,-17.0,1558.0,5.5,31.0,6.3,11.9,1.96,0.40,0.35,0.75,5.25,1575.1,3.9,0.9,6.2,161.8,NaN,193.1,112.8,4.6,107.6,82.7,300.7,2.83,1.59,34.94,37.6,94.8,7.4,349.7,215.8,1.41,2.54,1.79,0.00,0.00,13.00,9.46,12.68,7.90,17.03,619635.0,10.0,7.91,7.91,478.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3536,3541,226.4,450.5,172.3,565.0,30.5,581.1,14.4,76.7,41.1,48.4,13.58,7.27,2.55,8.57,8.71,564.5,0.5,NaN,89.0,85.5,NaN,190.2,42.5,36.8,172.3,76.8,362.5,1.30,0.72,0.00,NaN,227.0,NaN,187.0,78.3,0.41,1.71,1.10,0.07,5.67,15.65,20.64,8.66,5.14,19.47,14904213.0,10.0,0.97,0.97,450.5,NaN
3537,3542,89.4,97.6,82.0,75.8,-4.0,66.5,5.3,11.1,6.2,9.2,14.64,8.18,6.99,12.14,6.68,73.9,1.7,NaN,38.6,48.4,NaN,3.0,7.6,NaN,87.0,36.6,90.0,0.12,0.02,5.12,4.2,21.9,6.8,55.8,47.2,4.58,6.49,0.10,3.88,177.71,10.07,14.21,5.13,4.17,4.83,3362800.0,10.0,1.61,1.61,97.6,2.49
3538,3543,246.2,902.9,209.1,1005.1,5.6,966.5,44.2,120.3,70.0,62.6,11.97,6.96,4.40,6.23,22.77,995.9,2.6,0.3,30.0,179.1,NaN,305.0,363.4,25.4,209.1,179.1,514.1,2.45,0.68,93.45,195.4,217.7,17.5,477.5,-49.5,0.59,0.91,1.46,0.05,11.05,3.96,3.76,33.03,11.68,4.63,3000000.0,10.0,13.10,13.10,902.9,12.62
3539,3544,146.9,177.0,137.2,371.0,3.9,348.9,26.0,50.5,40.8,33.6,13.61,11.00,7.01,9.06,20.30,365.8,3.3,1.6,50.9,86.3,NaN,1.3,21.1,17.4,137.2,77.1,138.5,0.10,0.01,6.20,8.5,73.5,NaN,80.8,59.7,2.83,3.83,0.01,1.35,29.93,25.00,13.75,49.00,47.03,17.42,4422346.0,10.0,6.06,6.06,177.0,4.07
3540,3545,-0.2,0.6,0.3,NaN,NaN,17.4,-17.4,-17.4,-17.4,-17.4,NaN,NaN,NaN,NaN,-193.33,NaN,NaN,NaN,28.3,-28.0,NaN,NaN,0.3,NaN,0.3,-28.0,0.3,1.00,0.00,0.00,NaN,NaN,NaN,0.6,0.3,2.00,2.00,0.00,2.00,2190.00,0.00,0.00,NaN,NaN,0.00,5220000.0,10.0,-0.02,-0.02,0.6,NaN

In [7]:
# 
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3541 entries, 0 to 3540
Data columns (total 52 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Num                                          3541 non-null   int64
 1   Networth Next Year                           3541 non-null   float64
 2   Total assets                                 3541 non-null   float64
 3   Net worth                                    3541 non-null   float64
 4   Total income                                 3343 non-null   float64
 5   Change in stock                              3083 non-null   float64
 6   Total expenses                               3402 non-null   float64
 7   Profit after tax                             3410 non-null   float64
 8   PBDITA                                       3410 non-null   float64
 9   PBT                                          3410 non-null   float64
 10  Cash profit                                  3410 non-null   float64
 11  PBDITA as % of total income                  3473 non-null   float64
 12  PBT as % of total income                     3473 non-null   float64
 13  PAT as % of total income                     3473 non-null   float64
 14  Cash profit as % of total income             3473 non-null   float64
 15  PAT as % of net worth                        3541 non-null   float64
 16  Sales                                        3282 non-null   float64
 17  Income from financial services               2606 non-null   float64
 18  Other income                                 2246 non-null   float64
 19  Total capital                                3537 non-null   float64
 20  Reserves and funds                           3456 non-null   float64
 21  Deposits (accepted by commercial banks)      0 non-null      float64
 22  Borrowings                                   3175 non-null   float64
 23  Current liabilities & provisions             3445 non-null   float64
 24  Deferred tax liability                       2401 non-null   float64
 25  Shareholders funds                           3541 non-null   float64
 26  Cumulative retained profits                  3503 non-null   float64
 27  Capital employed                             3541 non-null   float64
 28  TOL/TNW                                      3541 non-null   float64
 29  Total term liabilities / tangible net worth  3541 non-null   float64
 30  Contingent liabilities / Net worth (%)       3541 non-null   float64
 31  Contingent liabilities                       2353 non-null   float64
 32  Net fixed assets                             3423 non-null   float64
 33  Investments                                  2106 non-null   float64
 34  Current assets                               3475 non-null   float64
 35  Net working capital                          3509 non-null   float64
 36  Quick ratio (times)                          3448 non-null   float64
 37  Current ratio (times)                        3448 non-null   float64
 38  Debt to equity ratio (times)                 3541 non-null   float64
 39  Cash to current liabilities (times)          3448 non-null   float64
 40  Cash to average cost of sales per day        3456 non-null   float64
 41  Creditors turnover                           3208 non-null   float64
 42  Debtors turnover                             3213 non-null   float64
 43  Finished goods turnover                      2801 non-null   float64
 44  WIP turnover                                 2901 non-null   float64
 45  Raw material turnover                        3180 non-null   float64
 46  Shares outstanding                           2849 non-null   float64
 47  Equity face value                            2849 non-null   float64
 48  EPS                                          3541 non-null   float64
 49  Adjusted EPS                                 3541 non-null   float64
 50  Total liabilities                            3541 non-null   float64
 51  PE on BSE                                    1347 non-null   float64
dtypes: float64(51), int64(1)
memory usage: 1.4 MB

In [9]:
company.columns

Index(['Num', 'Networth Next Year', 'Total assets', 'Net worth',
       'Total income', 'Change in stock', 'Total expenses', 'Profit after tax',
       'PBDITA', 'PBT', 'Cash profit', 'PBDITA as % of total income',
       'PBT as % of total income', 'PAT as % of total income',
       'Cash profit as % of total income', 'PAT as % of net worth', 'Sales',
       'Income from financial services', 'Other income', 'Total capital',
       'Reserves and funds', 'Deposits (accepted by commercial banks)',
       'Borrowings', 'Current liabilities & provisions',
       'Deferred tax liability', 'Shareholders funds',
       'Cumulative retained profits', 'Capital employed', 'TOL/TNW',
       'Total term liabilities / tangible net worth',
       'Contingent liabilities / Net worth (%)', 'Contingent liabilities',
       'Net fixed assets', 'Investments', 'Current assets',
       'Net working capital', 'Quick ratio (times)', 'Current ratio (times)',
       'Debt to equity ratio (times)', 'Cash to current liabilities (times)',
       'Cash to average cost of sales per day', 'Creditors turnover',
       'Debtors turnover', 'Finished goods turnover', 'WIP turnover',
       'Raw material turnover', 'Shares outstanding', 'Equity face value',
       'EPS', 'Adjusted EPS', 'Total liabilities', 'PE on BSE'],
      dtype='object')

In [13]:
company.columns= company.columns.str.replace(' ','_').str.replace('(','').str.replace(')','').str.replace('%','perc').str.replace('/','_to_')

In [14]:
company.columns

Index(['Num', 'Networth_Next_Year', 'Total_assets', 'Net_worth',
       'Total_income', 'Change_in_stock', 'Total_expenses', 'Profit_after_tax',
       'PBDITA', 'PBT', 'Cash_profit', 'PBDITA_as_perc_of_total_income',
       'PBT_as_perc_of_total_income', 'PAT_as_perc_of_total_income',
       'Cash_profit_as_perc_of_total_income', 'PAT_as_perc_of_net_worth',
       'Sales', 'Income_from_financial_services', 'Other_income',
       'Total_capital', 'Reserves_and_funds',
       'Deposits_accepted_by_commercial_banks', 'Borrowings',
       'Current_liabilities_&_provisions', 'Deferred_tax_liability',
       'Shareholders_funds', 'Cumulative_retained_profits', 'Capital_employed',
       'TOL_to_TNW', 'Total_term_liabilities__to__tangible_net_worth',
       'Contingent_liabilities__to__Net_worth_perc', 'Contingent_liabilities',
       'Net_fixed_assets', 'Investments', 'Current_assets',
       'Net_working_capital', 'Quick_ratio_times', 'Current_ratio_times',
       'Debt_to_equity_ratio_times', 'Cash_to_current_liabilities_times',
       'Cash_to_average_cost_of_sales_per_day', 'Creditors_turnover',
       'Debtors_turnover', 'Finished_goods_turnover', 'WIP_turnover',
       'Raw_material_turnover', 'Shares_outstanding', 'Equity_face_value',
       'EPS', 'Adjusted_EPS', 'Total_liabilities', 'PE_on_BSE'],
      dtype='object')

In [16]:
# to check the shape of our data
company.shape

(3541, 52)

In [20]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3541 entries, 0 to 3540
Data columns (total 52 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Num                                             3541 non-null   int64
 1   Networth_Next_Year                              3541 non-null   float64
 2   Total_assets                                    3541 non-null   float64
 3   Net_worth                                       3541 non-null   float64
 4   Total_income                                    3343 non-null   float64
 5   Change_in_stock                                 3083 non-null   float64
 6   Total_expenses                                  3402 non-null   float64
 7   Profit_after_tax                                3410 non-null   float64
 8   PBDITA                                          3410 non-null   float64
 9   PBT                                             3410 non-null   float64
 10  Cash_profit                                     3410 non-null   float64
 11  PBDITA_as_perc_of_total_income                  3473 non-null   float64
 12  PBT_as_perc_of_total_income                     3473 non-null   float64
 13  PAT_as_perc_of_total_income                     3473 non-null   float64
 14  Cash_profit_as_perc_of_total_income             3473 non-null   float64
 15  PAT_as_perc_of_net_worth                        3541 non-null   float64
 16  Sales                                           3282 non-null   float64
 17  Income_from_financial_services                  2606 non-null   float64
 18  Other_income                                    2246 non-null   float64
 19  Total_capital                                   3537 non-null   float64
 20  Reserves_and_funds                              3456 non-null   float64
 21  Deposits_accepted_by_commercial_banks           0 non-null      float64
 22  Borrowings                                      3175 non-null   float64
 23  Current_liabilities_&_provisions                3445 non-null   float64
 24  Deferred_tax_liability                          2401 non-null   float64
 25  Shareholders_funds                              3541 non-null   float64
 26  Cumulative_retained_profits                     3503 non-null   float64
 27  Capital_employed                                3541 non-null   float64
 28  TOL_to_TNW                                      3541 non-null   float64
 29  Total_term_liabilities__to__tangible_net_worth  3541 non-null   float64
 30  Contingent_liabilities__to__Net_worth_perc      3541 non-null   float64
 31  Contingent_liabilities                          2353 non-null   float64
 32  Net_fixed_assets                                3423 non-null   float64
 33  Investments                                     2106 non-null   float64
 34  Current_assets                                  3475 non-null   float64
 35  Net_working_capital                             3509 non-null   float64
 36  Quick_ratio_times                               3448 non-null   float64
 37  Current_ratio_times                             3448 non-null   float64
 38  Debt_to_equity_ratio_times                      3541 non-null   float64
 39  Cash_to_current_liabilities_times               3448 non-null   float64
 40  Cash_to_average_cost_of_sales_per_day           3456 non-null   float64
 41  Creditors_turnover                              3208 non-null   float64
 42  Debtors_turnover                                3213 non-null   float64
 43  Finished_goods_turnover                         2801 non-null   float64
 44  WIP_turnover                                    2901 non-null   float64
 45  Raw_material_turnover                           3180 non-null   float64
 46  Shares_outstanding                              2849 non-null   float64
 47  Equity_face_value                               2849 non-null   float64
 48  EPS                                             3541 non-null   float64
 49  Adjusted_EPS                                    3541 non-null   float64
 50  Total_liabilities                               3541 non-null   float64
 51  PE_on_BSE                                       1347 non-null   float64
dtypes: float64(51), int64(1)
memory usage: 1.4 MB

In [21]:
# lets create the descriptive stats measure of the columns of our data.
company.describe()

,Num,Networth_Next_Year,Total_assets,Net_worth,Total_income,Change_in_stock,Total_expenses,Profit_after_tax,PBDITA,PBT,Cash_profit,PBDITA_as_perc_of_total_income,PBT_as_perc_of_total_income,PAT_as_perc_of_total_income,Cash_profit_as_perc_of_total_income,PAT_as_perc_of_net_worth,Sales,Income_from_financial_services,Other_income,Total_capital,Reserves_and_funds,Deposits_accepted_by_commercial_banks,Borrowings,Current_liabilities_&_provisions,Deferred_tax_liability,Shareholders_funds,Cumulative_retained_profits,Capital_employed,TOL_to_TNW,Total_term_liabilities__to__tangible_net_worth,Contingent_liabilities__to__Net_worth_perc,Contingent_liabilities,Net_fixed_assets,Investments,Current_assets,Net_working_capital,Quick_ratio_times,Current_ratio_times,Debt_to_equity_ratio_times,Cash_to_current_liabilities_times,Cash_to_average_cost_of_sales_per_day,Creditors_turnover,Debtors_turnover,Finished_goods_turnover,WIP_turnover,Raw_material_turnover,Shares_outstanding,Equity_face_value,EPS,Adjusted_EPS,Total_liabilities,PE_on_BSE
count,3541.000000,3541.000000,3.541000e+03,3541.000000,3.343000e+03,3083.000000,3.402000e+03,3410.00000,3410.000000,3410.000000,3410.000000,3473.000000,3473.000000,3473.000000,3473.000000,3541.000000,3.282000e+03,2606.000000,2246.000000,3537.000000,3456.000000,0.0,3175.000000,3445.000000,2401.000000,3541.000000,3503.000000,3541.000000,3541.000000,3541.000000,3541.000000,2353.000000,3423.000000,2106.000000,3475.000000,3509.00000,3448.000000,3448.000000,3541.000000,3448.000000,3456.000000,3208.00000,3213.000000,2801.000000,2901.000000,3180.000000,2.849000e+03,2849.000000,3541.000000,3541.000000,3.541000e+03,1347.000000
mean,1772.451567,1616.256199,3.443382e+03,1295.862214,4.582823e+03,41.489264,4.262931e+03,277.36044,578.056305,383.810088,392.065044,4.570639,-17.279018,-19.199957,-8.229177,10.269280,4.549520e+03,80.843592,41.356723,216.608962,1163.814641,NaN,1122.279339,940.626909,227.216202,1322.067890,890.513046,2328.347727,3.993892,1.843886,53.938294,932.919380,1189.678060,694.734330,1293.364460,138.56925,1.401395,2.130409,2.779670,0.490400,158.443492,15.44568,17.041261,87.078725,27.930469,19.088399,2.206739e+07,-1333.698175,-220.316436,-221.512285,3.443382e+03,63.905687
std,1023.731393,17459.639673,3.097089e+04,13387.891867,5.568124e+04,440.573761,5.302869e+04,3064.40606,5653.770427,4117.069953,4226.641122,147.122037,425.433755,429.811312,304.566233,65.148213,5.496465e+04,1115.167572,917.290111,1682.590310,13372.683042,NaN,8681.918467,9546.089901,2170.210872,13445.292593,10112.377944,21069.009543,19.398812,14.773123,378.835447,12973.316473,13291.907689,6895.538755,10131.769374,2945.47641,7.729697,10.108072,14.974057,4.195739,2746.900058,68.20860,83.943754,598.545835,151.042868,376.340737,1.655193e+08,37500.729972,14261.946209,14261.923760,3.097089e+04,1433.809532
min,1.000000,-74265.600000,1.000000e-01,0.000000,0.000000e+00,-3029.400000,-1.000000e-01,-3908.30000,-440.700000,-3894.800000,-2245.700000,-6400.000000,-21340.000000,-21340.000000,-15020.000000,-748.720000,1.000000e-01,0.000000,0.000000,0.100000,-6525.900000,NaN,0.100000,0.100000,0.100000,0.000000,-6534.300000,0.000000,-350.480000,-325.600000,0.000000,0.100000,0.000000,0.000000,0.100000,-63839.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-0.090000,-0.180000,-2.000000,-2.147484e+09,-999998.900000,-843181.820000,-843181.820000,1.000000e-01,-1116.640000
25%,886.000000,31.700000,9.130000e+01,31.300000,1.064500e+02,-1.800000,9.582500e+01,0.50000,6.900000,0.700000,2.900000,5.000000,0.550000,0.350000,2.020000,0.000000,1.126750e+02,0.400000,0.400000,13.100000,5.000000,NaN,23.950000,17.800000,3.200000,32.000000,1.100000,60.800000,0.600000,0.050000,0.000000,6.300000,26.000000,1.000000,36.200000,-1.10000,0.410000,0.930000,0.220000,0.020000,2.790000,3.70000,3.760000,8.200000,5.100000,2.990000,1.316250e+06,10.000000,0.000000,0.000000,9.130000e+01,3.275000
50%,1773.000000,116.300000,3.097000e+02,102.300000,4.449000e+02,1.600000,4.077000e+02,8.80000,35.400000,12.400000,18.850000,9.660000,3.310000,2.340000,5.640000,7.920000,4.531000e+02,1.800000,1.400000,42.100000,54.800000,NaN,99.200000,69.400000,13.400000,105.600000,37.100000,214.700000,1.430000,0.340000,5.330000,38.000000,93.500000,8.350000,145.100000,16.20000,0.670000,1.230000,0.790000,0.070000,8.025000,6.09500,6.320000,17.270000,9.760000,6.400000,4.672063e+06,10.000000,1.430000,1.180000,3.097000e+02,9.100000
75%,2658.000000,456.100000,1.098700e+03,377.300000,1.440900e+03,18.050000,1.359775e+03,52.27500,150.250000,71.975000,93.200000,16.390000,8.800000,6.340000,10.700000,20.190000,1.433550e+03,9.675000,5.975000,100.300000,277.300000,NaN,352.600000,261.700000,50.000000,393.200000,202.350000,767.300000,2.830000,1.000000,30.760000,192.700000,344.850000,64.300000,502.250000,84.20000,1.030000,1.710000,1.750000,0.190000,21.787500,11.49000,11.680000,40.350000,20.240000,11.845000,1.065197e+07,10.000000,9.620000,7.480000,1.098700e+03,17.790000
max,3545.000000,805773.400000,1.176509e+06,613151.600000,2.442828e+06,14185.500000,2.366035e+06,119439.10000,208576.500000,145292.600000,176911.800000,100.000000,100.000000,150.000000,100.000000,2466.670000,2.384984e+06,51938.200000,42856.700000,78273.200000,625137.800000,NaN,278257.300000,352240.300000,72796.600000,613151.600000,390133.800000,891408.900000,473.000000,456.000000,14704.270000,559506.800000,636604.600000,199978.600000,354815.200000,85782.80000,341.000000,505.000000,456.000000,165.000000,128040.760000,2401.00000,3135.200000,17947.600000,5651.400000,21092.000000,4.130401e+09,100000.000000,34522.530000,34522.530000,1.176509e+06,51002.740000

In [26]:
# create a binary target variable from "Networth_Next_Year"
company['default'] = np.where((company['Networth_Next_Year'] > 0),0,1)
company[['Networth_Next_Year' , 'default']]

      Networth_Next_Year  default
0                 8890.6        0
1                  394.3        0
2                   92.2        0
3                    2.7        0
4                  109.0        0
...                  ...      ...
3536               226.4        0
3537                89.4        0
3538               246.2        0
3539               146.9        0
3540                -0.2        1

[3541 rows x 2 columns]

In [31]:
company.default.value_counts()

0    3298
1     243
Name: default, dtype: int64

In [32]:
company.default.value_counts(normalize=True)

0    0.931375
1    0.068625
Name: default, dtype: float64

In [40]:
company.isnull().sum().sum()

18533

In [41]:
company.isnull().sum()

Num                                                  0
Networth_Next_Year                                   0
Total_assets                                         0
Net_worth                                            0
Total_income                                       198
Change_in_stock                                    458
Total_expenses                                     139
Profit_after_tax                                   131
PBDITA                                             131
PBT                                                131
Cash_profit                                        131
PBDITA_as_perc_of_total_income                      68
PBT_as_perc_of_total_income                         68
PAT_as_perc_of_total_income                         68
Cash_profit_as_perc_of_total_income                 68
PAT_as_perc_of_net_worth                             0
Sales                                              259
Income_from_financial_services                     935
Other_income                                      1295
Total_capital                                        4
Reserves_and_funds                                  85
Deposits_accepted_by_commercial_banks             3541
Borrowings                                         366
Current_liabilities_&_provisions                    96
Deferred_tax_liability                            1140
Shareholders_funds                                   0
Cumulative_retained_profits                         38
Capital_employed                                     0
TOL_to_TNW                                           0
Total_term_liabilities__to__tangible_net_worth       0
Contingent_liabilities__to__Net_worth_perc           0
Contingent_liabilities                            1188
Net_fixed_assets                                   118
Investments                                       1435
Current_assets                                      66
Net_working_capital                                 32
Quick_ratio_times                                   93
Current_ratio_times                                 93
Debt_to_equity_ratio_times                           0
Cash_to_current_liabilities_times                   93
Cash_to_average_cost_of_sales_per_day               85
Creditors_turnover                                 333
Debtors_turnover                                   328
Finished_goods_turnover                            740
WIP_turnover                                       640
Raw_material_turnover                              361
Shares_outstanding                                 692
Equity_face_value                                  692
EPS                                                  0
Adjusted_EPS                                         0
Total_liabilities                                    0
PE_on_BSE                                         2194
default                                              0
dtype: int64